{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!
{% endblock %}

{% block body %}

	<section class="section bg-primary">
		<h1>Nice Curves</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore repellat unde beatae, eum tenetur aliquid nostrum iste magni eius rem nam quidem facere praesentium quisquam, laborum natus sapiente saepe obcaecati!</p>
	</section>
	<img class="spacer" src="{{ asset( 'build/img/svg/wave01.svg') }}" alt="">
	<section class="section bg-warning">
		<h1>Nice Curves</h1>
		<p>Rerum magnam totam eos distinctio laudantium corrupti id, odio nam nisi animi eum quisquam omnis possimus recusandae dolorum natus unde molestias reiciendis harum dolores repellat. Molestiae veritatis aspernatur velit ipsa!</p>
	</section>
	<img class="spacer" src="{{ asset( 'build/img/svg/layered-peaks01.svg') }}" alt="">
	<section class="section bg-danger">
		<h1>Nice Curves</h1>
		<p>Libero recusandae tempora cum! Soluta esse modi ab. Veniam nam temporibus praesentium aliquam aspernatur, voluptate quibusdam necessitatibus velit ratione neque laudantium minima similique. Corporis voluptas nobis unde enim harum libero.</p>
	</section>
	<section class="section bg-secondary">
		<h1>Nice Curves</h1>
		<p>Dolores culpa iusto eaque assumenda error incidunt quisquam voluptatibus magnam deserunt, cumque, quasi, autem rerum. Amet tenetur quas nemo eos, cumque pariatur saepe sit deleniti odit consequatur quod, aperiam velit.</p>
	</section>
	<section class="section">
		<h1>Nice Curves</h1>
		<p>Officia animi optio voluptate non, minima excepturi qui error quisquam. Perferendis dolores accusamus vitae veniam, architecto quod! Maiores assumenda quas aliquam corrupti consectetur recusandae perspiciatis, excepturi quae, vitae asperiores adipisci.</p>
	</section>
	<img class="spacer" src="{{ asset( 'build/img/svg/layered-waves01.svg') }}" alt="">
	<section class="section bg-info">
        <h1>Nice Curves</h1>
        <p>Doloremque enim ullam expedita id veniam assumenda delectus reiciendis asperiores laudantium aut dignissimos ratione, autem dolorem dolore animi quidem, error hic iusto. Eveniet quae illum ab voluptas odit. Eveniet, possimus.</p>
        <svg id="visual" class="blob-motion" viewbox="0 0 960 540" width="960" height="540" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <g transform="translate(522.0026039102491 273.57989600461275)">
                <path id="blob1" d="M125.3 -138.9C147.8 -102.8 141.4 -51.4 135.7 -5.7C130.1 40.1 125.1 80.1 102.6 111.3C80.1 142.5 40.1 164.7 -11.8 176.5C-63.6 188.3 -127.3 189.6 -169.8 158.4C-212.3 127.3 -233.6 63.6 -222 11.7C-210.3 -40.3 -165.6 -80.6 -123.1 -116.8C-80.6 -152.9 -40.3 -185 5.5 -190.5C51.4 -196 102.8 -175.1 125.3 -138.9" fill="#BB004B"></path>
            </g>
            <g transform="translate(487.2175717129615 264.5788384126431)" style="visibility: hidden;">
                <path id="blob2" d="M91.4 -103.2C114.4 -68.4 126.2 -34.2 140.9 14.7C155.6 63.6 173.3 127.3 150.3 158.1C127.3 188.9 63.6 187 11.7 175.3C-40.3 163.6 -80.6 142.3 -115.4 111.4C-150.3 80.6 -179.6 40.3 -175.4 4.2C-171.2 -31.8 -133.3 -63.6 -98.5 -98.5C-63.6 -133.3 -31.8 -171.2 1.2 -172.3C34.2 -173.5 68.4 -138 91.4 -103.2" fill="#BB004B"></path>
            </g>
        </svg>
    </section>
	<img class="spacer" src="{{ asset( 'build/img/svg/layered-waves02.svg') }}" alt="">
	<section class="section bg-light text-dark">
		<h1>Nice Curves</h1>
		<p>Magni voluptas aspernatur minima doloremque libero fugiat eligendi, consequuntur ex saepe sint culpa maiores nisi corporis est, incidunt, eveniet officiis harum sapiente quam suscipit quas autem? Voluptatum maxime quo ut.</p>
	</section>
	<section class="section bg-white text-dark">
		<h1>Nice Curves</h1>
		<p>Accusamus facilis numquam, dicta consequuntur autem reiciendis voluptate, excepturi odio fuga tenetur atque molestiae, inventore saepe nihil. Quisquam velit quae, dicta eligendi optio alias officiis aliquid, recusandae pariatur incidunt maiores!</p>
	</section>

{% endblock %}
